 @media (max-width:320px){
    #time{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #time div{
        margin: -3px;
        font-size: 1.2em;
    }
 }

 @media (max-width:350px){
    #time{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #time div{
        margin: -3px;
        font-size: 1.3em;
    }
 }

 @media (max-width:400px){
    #time{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #time div{
        margin: -3px;
        font-size: 1.3em;
    }
 }

  @media (max-width:425px){
    #time{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #time div{
        margin: -3px;
        font-size: 1.3em;
    }
 }

 @media (max-width:450px){
    #time{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #time div{
        margin: -3px;
        font-size: 1.4em;
    }
 }

 @media (max-width:500px){
    #time{
        gap: 5px;
    }

    #time div{
        margin: -3px;
        font-size: 1.4em;
    }
 }

 @media (max-width:550px){
    #time{
        gap: 17px;
    }

    #time div{
        margin: -3px;
        font-size: 1.5em;
    }
 }

 @media (max-width:600px){
    #time{
        gap: 25px;
    }

     #time div{
        margin: -3px;
        font-size: 1.5em;
    }
 }

 @media (max-width:650px){
    #time{
        gap: 30px;
    }

     #time div{
        margin: -3px;
        font-size: 1.5em;
    }
 }

 @media (max-width:700px){
    #time{
        gap: 35px;
    }

     #time div{
        margin: -3px;
        font-size: 1.5em;
    }
 }

 @media (max-width:750px){
    #time{
        gap: 5px;
    }

     #time div{
        margin: -3px;
        font-size: 1.5em;
    }
 }